<!DOCTYPE html>
<html lang="fr">
  <!-- HEAD -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fire Emblem Legacy RPG Forum">
    <meta name="author" content="falconpilot">

    <title>FEL - Fire Emblem Legacy</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <!-- BODY -->
  <body class="flex-col">
    <!-- Sidebar -->
    <%= render CommonView, "sidebar.html", assigns %>
    <!-- Header -->
    <%= render CommonView, "header.html", assigns %>
    <!-- Main -->
    <%= render @view_module, @view_template, assigns %>
    <!-- Footer -->
    <%= render CommonView, "footer.html", assigns %>
    <!-- Scripts -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
